:root {
    --pokemon-blue: rgb(25, 104, 183);
    --pokemon-yellow: rgb(254, 225, 51);
    --pokemon-sea: rgb(86, 201, 251); 
}
  
body {
    background-color: var(--pokemon-blue);
}

#pokemon-card {
    background-color: var(--pokemon-yellow);
}

#pokemon-image { display: none; }

#pokemon-name {
    text-transform: uppercase;
}