:root {
    --pokemon-blue: rgb(25, 104, 183);
    --pokemon-yellow: rgb(254, 225, 51);
    --pokemon-sea: rgb(86, 201, 251); 
    --pokemon-sea-wash: rgba(255, 255, 255, 0.2); 
}
  
body {
    font-family: sans-serif;
    background-color: var(--pokemon-blue);
}

#pokemon-card {
    background-color: var(--pokemon-yellow);
    line-height: 1.5;
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pokemon-IO-container {
    width: 375px;
}

/* #pokemon-image { display: none; } */

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

input {
    height: 3em;
    border-radius: 0.5em;
    color: var(--pokemon-blue);
}

button {
    background-color: var(--pokemon-blue);
    color: var(--pokemon-yellow);
    font-weight: bold;
    font-size: medium;
    border-radius: 0.5em;
    border: none;
}

#pokemon-name {
    text-transform: uppercase;
}

#types span {
    text-transform: uppercase;
}

table {
    width: 100%;
    background-color: var(--pokemon-blue);
    color: var(--pokemon-yellow);
}

tbody {
    text-align: center;
}

th, td {
    padding: 0.7rem;
}

tr {
    border-bottom: 2px solid var(--pokemon-yellow);
}

th:nth-child(even),
td:nth-child(even) {
    border-left: 2px solid var(--pokemon-yellow);
}
