* {
    font-family: sans-serif;
}

body {
    background-color: rgb(60, 0, 40);
    color: snow;
}

input {
    width: 15rem;
    border-radius: 0.4rem;
}

fieldset {
    border-radius: 1rem;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
}

#buttons {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

#phoneNumberApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#results-div {
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: 1.25rem;
    text-align: center;
    background-color: rgb(100, 0, 50);
}

#signature, a {
    color: yellow;
    text-align: center;
    font-size: 0.7rem;
}
